<%= form_for(apartment) do |f| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :rent %>
    <%= number_to_currency f.number_field :rent, min: 0 %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :building_age %>
    <%= f.number_field :building_age, min: 0 %><%= t('datetime.prompts.year') %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <hr>

  <%= f.fields_for :nearest_stations do |ns| %>
    <h3><%= NearestStation.model_name.human %><%= (ns.index + 1) %></h3>
    <div class="field">
      <%= ns.label :line %>
      <%= ns.text_field :line %>
    </div>

    <div class="field">
      <%= ns.label :name %>
      <%= ns.text_field :name %>
    </div>

    <div class="field">
      <%= ns.label :minutes_walk %>
      <%= ns.number_field :minutes_walk, min: 0 %><%= t('datetime.prompts.minute') %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
