<p id="notice"><%= notice %></p>

<p>
  <strong><%= Apartment.human_attribute_name :name %>:</strong>
  <%= @apartment.name %>
</p>

<p>
  <strong><%= Apartment.human_attribute_name :rent %>:</strong>
  <%= number_to_currency @apartment.rent %>
</p>

<p>
  <strong><%= Apartment.human_attribute_name :address %>:</strong>
  <%= @apartment.address %>
</p>

<p>
  <strong><%= Apartment.human_attribute_name :building_age %></strong>
  <%= @apartment.building_age %><%= t('datetime.prompts.year') %>
</p>

<p>
  <strong><%= Apartment.human_attribute_name :note %></strong>
  <%= @apartment.note %>
</p>

<hr>

<% @nearest_stations.each.with_index(1) do |ns, i| %>
  <h3><%= NearestStation.model_name.human %><%= i %></h3>
  <p>
    <strong><%= NearestStation.human_attribute_name :line %></strong>
    <%= ns.line %>
  </p>
  <p>
    <strong><%= NearestStation.human_attribute_name :name %></strong>
    <%= ns.name %>
  </p>
  <p>
    <strong><%= NearestStation.human_attribute_name :minutes_walk %></strong>
    <%= ns.minutes_walk %><%= t('datetime.prompts.minute') %>
  </p>
<% end %>

<%= link_to t('helpers.action.edit'), edit_apartment_path(@apartment) %> |
<%= link_to t('helpers.action.back'), apartments_path %>
